body {
    padding: 0 0;
    margin: 0 0;
    text-align: center;
}

nav {
    display: flex;
    padding: 1em 8em;
    /* width: 100%; */
    justify-content: space-between;
    box-shadow: 0px 2px 10px #0000009f;
}



#name span {
    color: #FF42A5;
}

#name {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0.5em;
}

#logo {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    align-items: center;
}

#menu a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

#follow-btn {
    display: flex;
    align-items: center;
    background-color: #0000003b;
    padding: 0 1em;
    border-radius: 0.25em;
}

#follow-icons {

    margin: 0 0.5em;
}

#follow-icons img {
    margin: 0 0;
}

.btn-pink {
    background-color: #FF42A5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-blue {
    background-color: #4EC5F7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

banner {
    display: flex;
    align-items: center;
}

#banner-text {
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
    text-align: center;
    display: flex;
    padding: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#banner-text ul {
    list-style: none;
    text-align: justify;
}

#banner-imgs {
    width: 55%;
    height: 700px;
    padding: 1em 5em;
    /* display: flex; */
}

#banner-imgs img {
    width: 100%;
    height: 100%;
}

h4 {
    font-size: 1.5em;
    margin: 0.25em 0;
}

#goat {
    background: linear-gradient(to top, #8758F1, #F948B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    margin: 0.25em 0;
}

#we {
    background: linear-gradient(to top, #8758F1, #F948B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    margin: 0.25em 0;
}

#online-games-headline {
    font-size: 2em;
}

#online-games-headline span {
    background: linear-gradient(to top, #8758F1, #F948B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0.25em 0;
}

#banner-text ul li {
    margin: 0.5em 0;
}

#nd-section {
    display: flex;
    padding: 1em 8em;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

#wing4-text {
    text-align: right;
    padding: 1em 6em;
}

#wing4-text p span {
    font-size: 1.5em;
    font-weight: 800;
}

.card {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 315px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay p {
    color: white;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover .overlay {
    opacity: 1;
}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.play-button:hover {
    transform: scale(1.2);
}

.card-text {
    position: absolute;
    bottom: 10px;
    text-align: justify;
    left: 10px;
    color: black;
    font-size: 16px;
    z-index: 1;
}

#game-container {
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    width: 80%;

    padding: 1em 1em;
}

#ending-banner-text {
    font-size: 1.5em;
    text-align: justify;
    padding: 1em 1em 1em 9em;
    width: 50%;
}

#ending-banner-text h2 span {
    background: linear-gradient(to top, #8758F1, #F948B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ending-banner {
    display: flex;
    width: 75%;
    margin: 5em auto;
}

#img-container {
    width: 50%;
    padding: 1em 2em;
}

#s-img {
    margin-top: -250px;
    margin-left: 350px;
    width: 100%;
}

/* mobile device CSS  */
@media screen and (max-width: 425px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        width: 100%;
        padding: 0 0;
    }

    #menu {
        flex-direction: column;
    }

    #menu a {
        margin: 0.5em 0;
    }

    #logo {
        margin: 2em 0;
        padding: 0 3em;
    }

    #follow-btn {
        margin: 2em 0;
    }

    #follow-icons {
        display: flex;
    }

    banner {
        flex-direction: column-reverse;
    }

    #banner-text {
        width: 90%;
        margin: auto;
        padding: 2em 0;
        background-size: cover;
        background-position: right center;
        height: auto;
    }

    #banner-imgs {
        width: 90%;
        margin: auto;
        padding: 2em 0;
        height: auto;
    }

    #banner-imgs img {
        width: 100%;
    }

    #nd-section {
        flex-direction: column;
        padding: 1em 1em;
    }

    #wing4 {
        width: 90%;
        margin: auto;
    }

    #wing4 img {
        width: 100%;
    }

    #wing4-text {
        text-align: center;
        padding: 1em 1em;
    }

    #game-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #ending-banner {
        flex-direction: column-reverse;
    }

    #img-container {
        width: 100%;
        padding: 1em 6em 1em 1em;
    }

    #ending-banner-text {
        width: 100%;
        padding: 1em;
    }

    #m-img img {
        width: 100%;
    }

    #s-img img {
        width: 100%;
    }

    #s-img {
        width: 40%;
        margin-top: -90px;
        margin-left: 240px;
    }
}